<!DOCTYPE HTML>
<html>
	<head>
		<title>Anime</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper">

					<header id="header">
            <div class="logo">
							<i class="fa fa-chart-bar fa-2x" style="line-height: inherit"></i>
						</div>
						<div class="content">
							<div class="inner">
								<h1>search</h1>
							</div>
						</div>
						<nav>
							<ul>
                <li><a href="#search">search</a></li>
                <li><a href="/">home page</a></li>
							</ul>
						</nav>
					</header>

					<div id="main">

						<article id="search">
							<h3 class="major">算出高分群、中分群、低分群人數</h3>
							<h3 class="major">用高分群分數-低分群分數，絕對值&gt;X就稱其為褒貶不一</h3>
							<ul class="actions">
                <li><a href="/" class="button">home page</a></li>
              </ul>
							<%if(!rows){%>
								<p>no result</p>
							<%}else if(rows.length==0){%>
								<p>no result</p>
							<%}else{%>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr><th>anime</th><th>diff</th></tr>
										</thead>
										<tbody>
											<%for(var i=0;i<rows.length;i++){%>
												<tr>
													<td><%=rows[i].titleh%></td>
													<td><%=rows[i].diff%></td>
												</tr>
											<%}%>
										</tbody>
									</table>
								</div>
							<%}%>
						</article>

					</div>
          <footer id="footer">
          </footer>

			</div>

			<div id="bg"></div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
