<!DOCTYPE html>
<html>
  <head>
    <title>register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form name='signIn' method="post" action="/apis/signIn">
      <label>user</label>
      <input type='text' name='user' placeholder='user'>
      <label>password</label>
      <input type='text' name='password' placeholder='password'>
      <input type='submit' name='submit' value='signIn'>
    </form>
  </body>
</html>
