<!DOCTYPE HTML>
<html>
	<head>
		<title>Anime</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper">

					<header id="header">
						<div class="logo">
							<i class="fa fa-photo-video fa-2x" style="line-height: inherit"></i>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Anime</h1>
								<p>好油喔</p>
							</div>
						</div>
						<nav>
							<ul>
                <li><a href="#about">About</a></li>
								<li><a href="#signIn">Sign In</a></li>
								<li><a href="#register">Register</a></li>
							</ul>
						</nav>
					</header>

					<div id="main">

							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="images/duck1.gif" alt="" /></span>
								<ul class="icons">
									<li><p>呱呱呱</p></li>
									<li><a href="https://github.com/Leo05438/DB_Final_Project" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

							<article id="signIn">
								<h2 class="major">Sign In</h2>
                <form name="signIn" method="post" action="/apis/signIn" autocomplete="off">
									<div class="fields">
										<div class="field half">
                      <label for="user">user</label>
                      <input type="text" name="user" placeholder="user" id="user">
										</div>
										<div class="field half">
                      <label for="password">password</label>
                      <input type='password' name='password' placeholder='password' id="password">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" name='submit' value='signIn' class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<%if(errorType==2){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
										<%if(errorType==4){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">wrong password</label></li>
										<%}%>
									</ul>
								</form>
							</article>

							<article id="register">
								<h2 class="major">Register</h2>
                <form name="register" method="post" action="/apis/register" autocomplete="off">
									<div class="fields">
										<div class="field half">
	                    <label for="user">user</label>
	                    <input type="text" name="user" placeholder="user" id="user">
										</div>
									</div>
									<div class="fields">
										<div class="field half">
											<label for="password">password</label>
											<input type='password' name='password' placeholder='password' id="password">
										</div>
									</div>
									<div class="fields">
										<div class="field half">
											<label for="gender">gender</label>
											<input type="radio" id="gender_m" name="gender" value="Male" checked>
											<label for="gender_m">Male</label>
										</div>
									</div>
									<div class="fields">
										<div class="field half">
											<input type="radio" id="gender_f" name="gender" value="Female">
											<label for="gender_f">Female</label>
										</div>
									</div>
									<div class="fields">
										<div class="field half">
											<label for="birth_date"></label>
											<input type='date' name='birth_date' id="birth_date" style="color:black;">
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" name='submit' value='register' class="primary"></li>
										<li><input type="reset" value="Reset"></li>
										<%if(errorType==0){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">illegal input</label></li>
										<%}%>
										<%if(errorType==1){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">username has been used</label></li>
										<%}%>
										<%if(errorType==3){%>
											<li><label style="color: red;display: block;font-size: 0.8rem;font-weight: 300;letter-spacing: 0.2rem;line-height: 1.5;margin-top: 0.8rem;text-transform: lowercase;">user not exist</label></li>
										<%}%>
									</ul>
								</form>
							</article>

					</div>
          <footer id="footer">
          </footer>

			</div>

			<div id="bg"></div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
